*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img img{
    height: 350px;
    width: 350px;
}
.contact_sec{
    height: 70vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
input{
    padding: 10px 200px 10px 5px;
}
 button{
    padding: 10px 50px;
    background-color: green;
    color: white;
}

@media screen and (max-width:800px) {
    .contact_sec{
        margin-top: 50px;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }
    .img img{
        height: 200px;
        width: 200px;
    }
    form{
        margin: 0 10px;
    }

}