*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.footer{
    position: absolute;
    
    width: 100%;
    height: 20vh;
    background-color: gray;
    margin-top: 20px; /* just to maintain space remove as soon as styling is done */
    display:  flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
}