*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products_cotainer{
  padding: 0px 50px;
   
}
.products_cotainer img{
    height: 100px;
    width: 100px;
}
.product_category{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 20px;
}
.product_list{
    display:  flex;
    gap: 100px;
}
.product_card{
    border: 5px solid black;
    border-radius: 10px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.product_card h3 {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;          /* Hides overflowed text */
  white-space: nowrap;       /* Use this for single line OR remove it for multi-line */
  text-overflow: ellipsis;   /* Adds ellipsis */
  width: 150px;              /* Adjust width to your design */
  display: block;            /* Makes text behave like a block element */
}