*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products_cotainer{
  padding: 0px 50px;
}
.products_cotainer img{
    height: 100px;
    width: 100px;
}
.product_category{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 20px;

   
}
.product_list{
    display:  flex;
    flex-wrap: wrap;
    
    gap: 100px;
  
}
.product_card{
    border: 5px solid black;
    border-radius: 10px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 20px;
}
.product_card h3 {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;         
  white-space: nowrap;      
  text-overflow: ellipsis;   
  width: 150px;              
  display: block;          
}
.product_card button {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.product_card button:hover{
    background-color:  rgb(9, 83, 9);
}



@media screen and (max-width : 1000px) {
    .product_list{
        justify-content: center;
    }
}